.basketballs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .basketball {
      flex-basis: 25%;
      margin: 1em;
      padding: 1em;
      border: 3px solid black;
  }